/*676d37363568*/
/*border:solid 1px;*/

/*a:link		{text-decoration:none; color:#0568ae; overflow-wrap: break-word;}
a:visited 	{text-decoration:none; color:#0568ae; overflow-wrap: break-word;}
a:active 	{text-decoration:underline; color:#0568ae; overflow-wrap: break-word;}*/


a:hover 		{text-decoration:none; color:inherit; overflow-wrap: break-word;}

.panel-body {
	background-color: #f3f3f3;
}

p  {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	margin:0;
	font-size:12px;
}

p.details{
	border: 1px solid #959595;
	padding: 3px;
	display: table-cell;
}

p.details:hover{
	background-color:#ffb81c;
}

p.title {
	border: 1px solid #959595;
	border-right:none;
	background-color: #009fdb;
	display: table-cell;
	padding:3px;
	color:white;
}

.equal, .equal > div[class*='col-'] {  
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.row {
	margin:2px 15px;
}

.contactNumbers {
	padding:10px;
}

.panel-heading {
    cursor: pointer;
}

.panel-heading:hover {
    cursor: pointer;
	background-color: #71c5e8;
}