/*676d37363568*/
/*border:solid 1px;*/

a:link		{text-decoration:none; color:#0568ae; overflow-wrap: break-word;}
a:visited 	{text-decoration:none; color:#0568ae; overflow-wrap: break-word;}
a:hover 		{text-decoration:underline; color:#ea7400; overflow-wrap: break-word;}
a:active 	{text-decoration:underline; color:#0568ae; overflow-wrap: break-word;}
	
.PageCenterPrint {
	margin:auto;
	width:1000px;
	overflow:none;
	}
	
.img-border {
	border: 1px solid black;
}

body {
	background-color:#f3f3f3;
}

.lightsPadding {
	padding:8px;
	text-align:left;
	max-width:350px;
	vertical-align:top;
}

.lightTable {
	margin-bottom:50px;
}

.profilePadding {
	padding-top:10px;
}

.dropdown-menu {
    max-height: 600px;
    overflow: hidden;
    overflow-y: auto;
}

.bottomDash {
	text-decoration:none;
	border-bottom: 1px dashed black;
	color:#ea7400;
	cursor:pointer;
}

.bottomDash:hover {
	text-decoration:none;
	border-bottom: 1px dashed black;
	color:#ea7400;
	cursor:pointer;
}

span.updates.expired a {
	text-decoration:none;
	border-bottom: 1px dashed black;
	color:#5a5a5a;
	cursor:pointer;
}

span.updates.expired a:hover {
	text-decoration:none;
	border-bottom: 1px dashed black;
	color:#5a5a5a;
	cursor:pointer;
}

a.white {
	color: white;
}

.black {
	color: black;
}

.left10px {
	margin-left: 10px;
}

.shortcut {
	line-height: 1.8;
}

.pageAnchor 	{
	padding-top: 0px;
	margin-top: 0px;
}

.pageAnchor:hover 	{
	padding-top: 0px;
	margin-top: 0px;
	text-decoration:none;
	color: #009fdb;
}

.myAttApp {
	background: url("../images/myatt.png") no-repeat right bottom;
	background-size: 55px 55px;
}

.uverseApp {
	background: url("../images/uverse.png") no-repeat right bottom;
	background-size: 55px 55px;
}

.easyRemoteApp {
	background: url("../images/easyremote.png") no-repeat right bottom;
	background-size: 55px 55px;
}

.myAttBizApp {
	background: url("../images/myattBiz.jpg") no-repeat right bottom;
	background-size: 55px 55px;
}

.linkHilight {
	color:#ef6f00 !important;
	font-weight:bold;
}

.nav-tabs {
	margin-bottom:20px;
}

.boldLink {
	font-weight:bold;
}

.resourceBorder {
	border:1px lightgray solid;
	box-shadow: 1px 1px 6px #6f6f6f;
	margin-bottom:13px;
	padding-bottom:10px;
	padding-top:10px;
	margin-left:0px;
	margin-right:0px;
	background-color:white
}

.resourceBorder:hover {
	border:1px lightgray solid;
	box-shadow: 3px 3px 6px #6f6f6f;
	margin-bottom:13px;
	padding-bottom:10px;
	padding-top:10px;
	margin-left:0px;
	margin-right:0px;
	background-color:white;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    background-color: rgba(86, 61, 124, .15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86, 61, 124, .2)
}

.bottomDots {
	border-bottom: 1px dotted black;
}

.bottomDots:hover {
	border-bottom: 1px dotted black;
	text-decoration: none;
}

.bottomDotsWhite {
	border-bottom: 1px dotted white;
}

.bottomDotsWhite:hover {
	border-bottom: 1px dotted white;
	text-decoration: none;
}

#stbCopied {
	display:none;
	font-size:18px;
	background-color:#dff0d8;
	border-radius:4px;
}

#rgCopied {
	display:none;
	font-size:18px;
	background-color:#dff0d8;
	border-radius:4px;
}

.glyphicon {
	color:inherit;
}

.browserAlert {
	background-color:lightblue;
	font-weight:bold;
	font-size:20px;
	margin:0 auto;
}

.glyphicon.glyphicon-copy {
    font-size: 40px;
	color:#009fdb;
}

.btn-default-new {
	color: #333;
	background-color: #f5f5f5;
	border-color: grey;
	border-radius:3px;
	white-space: normal;
	margin:3px 0px 3px 0px;
}

.btn-default-new:hover {
	color: #f5f5f5;
	background-color: #009fdb;
	border-color: black;
	border-radius:3px;
	white-space: normal;
	margin:3px 0px 3px 0px;
}
	
button.btn.btn-default-new {
	padding:1px 3px 1px 3px;
	min-width:50px;
	}

.cspheader	{
	height:55px;
	padding-top:5px;
	/*border:solid 1px;*/
	}
	
.formTopMargin {
	margin-top: 9px;
}
	
.cspheadtitle	{
	float:left;
	height:30px;
	padding:0px;
	position: relative;
	top: 5px;
	/*border:solid 1px;*/
	}
	
.narrow-hr {
	width:90%;
	margin-left:auto;
	margin-right:auto;
	height:2px;
	background-color:#0568ae;
	color:#0568ae;
	border: 0 none
}
	
.row-flex,
.row-flex > div[class*="col-"] {
  display: flex;
  flex: 1 auto;
}
.row-flex-wrap {
  flex-flow: row wrap;
}
.row-flex > div[class*="col-"] div {
  width: 100%;
}
.flex-col {
  display: flex;
  flex: 1 100%;
  flex-flow: column nowrap;
}
.flex-grow {
  flex: 2;
}
	
.cspheadtitle h6	{
	font-family: AleckM, OmnesM;
	color: #ea7400;
	font-size:22px;
	text-decoration:none;
	vertical-align:center;
	display:table-cell;
	}
	
.cspheaddate	{
	float:right;
	height:30px;
	position: relative;
	top: 5px;
	/*border:solid 1px;*/
	}
	
.cspheaddate h6	{
	font-family: AleckM, OmnesM;
	color: #ea7400;
	font-size:22px;
	text-decoration:none;
	text-align:center;
	display:table-cell;
	}

.panel-no-line {
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid transparent;
}

.csptitleblock	{
	width:100%;
	height:16px;
	}
	
.btnFix {
	margin-top:2px;
}

.leadDate  {
	text-decoration:none;
	font-size:16px;
	font-weight:bold;
	color:#009fdb;
	font-family:AleckL, OmnesL;
	}
	
.center {
	margin:0 auto;
}
	
.csptitle	{
	float:left;
	padding-left:20px;
	}
	
.cspmessage	{
	padding-left:50px;
	padding-right:35px;
	}
	
.cspdate	{
	float:right;
	padding-right:20px;
	}
	
.mycsp .csptitleblock .csptitle  {
	text-decoration:none;
	font-size:18px;
	font-weight:bold;
	color:#009fdb;
	font-family:AleckL, OmnesL;
	}
	
.messageHeader  {
	text-decoration:none;
	font-size:17px;
	font-weight:bold;
	color:#ea7400;
	font-family:AleckL, OmnesL;
	}
	
.mycsp .csptitleblock .cspdate  {
	text-decoration:none;
	font-size:18px;
	font-weight:bold;
	color:#ea7400;
	font-family:AleckL, OmnesL;
	}

.footer	{
	margin:auto;
	text-align:center;
	padding-bottom:30px;
	padding-top:50px;
	clear: both;
	/*border:solid 1px;*/
	}
	
.bottom-padding5 {
	padding-bottom:10px;
}
	
.topPadding10 {
	padding-top:10px;
}
	
.topPadding5 {
	padding-top:5px;
}
	
.button-margin {
	margin-bottom:7px;
	margin-top:7px;
}

.bottom-margin25 {
	margin-bottom:25px;
}

.images	{
	width:100%;
	display:inline-block;
	/*border:solid 1px;*/
	}
	
@media screen and (min-width: 768px) {
  .equal, .equal > div[class*='col-'] {  
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex: auto;
  }
}

.contained-table {
	width:100%;
	overflow-x:auto;
}

.container-fluid-custom {
  margin-right: auto;
  margin-left: auto;
}
	
.specs	{
	padding-bottom:10px;
	/*border:solid 1px;*/
	}
	
.leads	{
	padding-bottom:10px;
	margin-left:40px;
	margin-right:40px;
	/*border:solid 1px;*/
	}
	
.bott-30	{
	padding-bottom:30px;
	/*border:solid 1px;*/
	}

.mycsp	{
	padding-bottom:30px;
	/*border:solid 1px;*/
	}
	
.mycsp span {
	padding: 0px;
	}
	
.tab	{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
	text-decoration:none;
	color:black;
	display:block;
	font-weight:normal;
	margin:10px 50px 10px 20px;
	}
	
.tab2	{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
	text-decoration:none;
	color:black;
	display:block;
	font-weight:normal;
	margin:0px 50px 0px 20px;
	}

.backtotop	{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
	float:right;
	padding-right:15px;
	font-weight:100;
	margin:0;
	text-decoration:none
	}
	
.h3	{
	font-family:AleckM, OmnesM;
	color: #ea7400;
	font-size:24px;
	text-decoration:none;
	}
	
a.h3:hover {
	font-family: AleckM, OmnesM;
	color: #ea7400;
	font-size:24px;
	text-decoration:none;
	}
	
.device		{
	font-family: AleckM, OmnesM;
	color: #5a5a5a;
	font-size:20px;
	text-decoration:none;
	font-weight:normal;
	}
	
.otherLinks		{
	font-family: AleckM, OmnesM;
	color: #ea7400;
	font-size:20px;
	text-decoration:none;
	}
	
tr:hover {
    background-color: #ffff99;
	}
	
td:hover {
    background-color: #ffff4d;
	}
	
.codes	{
	font-family: AleckM, OmnesM;
	text-align:center;
	color: black;
	padding:1px 10px 1px 10px;
	font-size:15px;
	background-color:#dfdfdf;
	}
	
td.codes:hover {
    background-color: #dfdfdf;
	}
	
.ports	{
	font-family: AleckM, OmnesM;
	text-align:center;
	color: black;
	padding:1px 10px 1px 10px;
	font-size:15px;
	background-color:#dfdfdf;
	width:200px;
	}
	
td.ports:hover {
    background-color: #dfdfdf;
	}
	
.span2 	{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #009fdb;
	font-size:15px;
	font-weight:100;
	text-decoration:none;
	}-align:right;
	}
	
.red	{
	color:red;
	font-weight:normal;
	font-size:inherit;
	padding:inherit;
	font-family:inherit;
	}

h1 	{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #009fdb;
	font-style: italic;
	font-weight:bold;
	}
	
h2 	{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #ea7400;
	font-size:26px;
	font-weight:bold;
	}
	
h3 	{
	font-family: AleckM, OmnesM;
	color: #ea7400;
	font-weight:normal;
	font-size:28px;
	text-decoration:none;
	}
	
h2 a 	{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #009fdb;
	font-size:15px;
	font-weight:100;
	}

th	{
	font-family: AleckM, OmnesM;
	text-align:center;
	background-color:#009fdb;
	font-size:16px;
	font-weight:normal;
	color:white;
	padding:2px 8px 2px 8px;
	}
	
td	{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:center;
	color: black;
	font-weight:normal;
	padding:1px 8px 1px 8px;
	font-size:14px;
	}
	
.tableNA	{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:center;
	font-weight:normal;
	padding:1px 8px 1px 8px;
	font-size:14px;
	background-color:#e0e0e0;
	}
	
.left	{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:left;
	padding:1px 8px 1px 8px;
	font-size:14px;
	}
	
.tablesub	{
	font-family: AleckM, OmnesM;
	text-align:center;
	font-weight:normal;
	padding:1px 8px 1px 8px;
	font-size:16px;
	background-color:#e0e0e0;
	}
	
.tablenote	{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align:left;
	font-weight:normal;
	padding:1px 8px 1px 8px;
	font-size:14px;
	}
	
p 	{
	text-decoration:none;
	color:black;
	}
	
.footer p 	{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	}
	
sup 	{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration:none;
	font-size:11px;
	color: red;
	}
	
sup2 	{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration:none;
	font-size:13px;
	color: red;
	}
	
.equipDocs	{
	font-family: AleckM, OmnesM;
	text-decoration:none;
	font-size:18px;
	color:#009fdb;
	}
	
.equipDetails	{
	font-family: AleckM, OmnesM;
	text-decoration:none;
	font-size:18px;
	color:#009fdb;
	}
	
.detailheight1	{
	min-height:50px;
	display:block;
	padding:0px;
	}
	
.detailheight2	{
	min-height:65px;
	display:block;
	padding:0px;
	}
	
.detailheight3	{
	min-height:80px;
	display:block;
	padding:0px;
	}
	
.detailheight4	{
	min-height:95px;
	display:block;
	padding:0px;
	}
	
.updates	{
	font-family: AleckL, OmnesL;
	text-decoration:none;
	font-size:18px;
	font-weight:bold;
	color:#5a5a5a;
	}
	
.dropdown-menu > li > a.text-danger {
	color: #a94442;
}
	
.spanred	{
	text-decoration:underline;
	font-size:14px;
	font-weight:bold;
	color:red;
	}
	
.dtvimg	{
	padding:15px;
	}
	
table {
	margin-left:15px;
	font-size:14px;
	margin-top:15px;
	margin-bottom:15px;
	}
	
table, td, th	{
	border: 1px solid black;
	border-collapse:collapse;
	-webkit-hyphens: manual !important;
     -moz-hyphens: manual !important;
      -ms-hyphens: manual !important;
          hyphens: manual !important;
	}
	
div.img	{
	margin:0 auto;
    text-align:center;
	}
	
div.img img	{
	border:2px solid #009fdb;
	}
  
div.img a:hover img	{
	border:2px solid #ea7400;
	}
	
.wiringimg	{
	display:block;
	margin-left:50px;
	border:2px solid #009fdb;}
  
div.desc	{
	font-size:19px;
	text-align:center;
	font-weight:normal;
	font-family: OmnesLI;
	text-decoration:none;
	margin:5px;
	font-weight:bold;
	color:#ea7400;
	}
	
.orangePBI	{
	font-size:30px;
	font-family:AleckBI, OmnesBI;
	color:#ea7400;
	text-decoration:none;
	text-shadow:3px 3px 3px #dfdfdf;
	padding-top:5px;
	padding-bottom:5px;
	}
	
.bluePLI	{
	font-size:30px;
	font-family:AleckLI, OmnesLI;
	color:#009fdb;
	font-weight:bold;
	text-decoration:none;
	text-shadow:3px 3px 3px #dfdfdf;
	}
	
.grayPBI	{
	font-size:30px;	
	font-family:AleckBI, OmnesBI;
	color:#5a5a5a;
	text-decoration:none;
	text-shadow:3px 3px 3px #dfdfdf;
	}
	
.orangeMBI	{
	font-size:32px;
	font-family:AleckBI, OmnesBI;
	color:#ea7400;
	text-decoration:none;
	text-shadow:3px 3px 3px #dfdfdf;
	}
	
.blueMLI	{
	font-size:32px;
	font-family:AleckLI, OmnesLI;
	color:#009fdb;
	font-weight:bold;
	text-decoration:none;
	text-shadow:3px 3px 3px #dfdfdf;
	text-align:center;
	}
	
.grayMBI	{
	font-size:32px;
	font-family:AleckBI, OmnesBI;
	color:#5a5a5a;
	text-decoration:none;
	text-shadow:3px 3px 3px #dfdfdf;
	}
	
.noborder	{
	background-color:#fff;
	border:0;
	padding-top:20px;
	}
	
.noborder th	{
	background-color:#fff;
	border:0;	
	font-family: AleckM, OmnesM;
	color: #ea7400;
	font-weight:normal;
	font-size:24px;
	text-decoration:none;
	}
	
.noborder td	{
	background-color:#fff;
	border:0;
	padding: 8px 50px 8px 50px;
	color:#000;
	}
	
@media only screen and (max-width: 768px) {
	a.h3,h3,span.h3,equipDocs {
		font-size: 150%;
	}
	span.orangePBI,span.bluePLI,span.grayPBI,span.orangeMBI,span.blueMLI,span.grayMBI {
		font-size: 200%;
	}
	span.equipDocs {
		font-size: 125%;
	}
}
	
.grey	{
	background-color:#d3d3d3;
	color:#d3d3d3;
	}
	
.greencheck	{
	background-color:#90EE90;
	color:#006400;
	text-shadow: 1px 1px 1px #5E5E5E;
	}
	
td.greencheck:hover {
    background-color: #90EE90;
	}
	
.redx	{
	background-color:#fbbfbf;
	color:#d80000;
	text-shadow: 1px 1px 1px #5E5E5E;
	}
	
td.redx:hover {
    background-color: #fbbfbf;
	}

/*Aleck Font*/	
	
@font-face {
    font-family:AleckB;
    src: url('../fonts/ATTAleckSans-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/ATTAleckSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ATTAleckSans-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ATTAleckSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ATTAleckSans-Bold.svg') format('svg'); /* Legacy iOS */
	}

@font-face {
    font-family:AleckI;
    src: url('../fonts/ATTAleckSans-Italic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/ATTAleckSans-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ATTAleckSans-Italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ATTAleckSans-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ATTAleckSans-Italic.svg') format('svg'); /* Legacy iOS */
	}

@font-face {
    font-family:AleckM;
    src: url('../fonts/ATTAleckSans-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/ATTAleckSans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ATTAleckSans-Medium.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ATTAleckSans-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ATTAleckSans-Medium.svg') format('svg'); /* Legacy iOS */
	}
	
@font-face {
    font-family:AleckMI;
    src: url('../fonts/ATTAleckSans-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/ATTAleckSans-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ATTAleckSans-MediumItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ATTAleckSans-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ATTAleckSans-MediumItalic.svg') format('svg'); /* Legacy iOS */
	}

@font-face {
    font-family:AleckBI;
    src: url('../fonts/ATTAleckSans-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/ATTAleckSans-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ATTAleckSans-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ATTAleckSans-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ATTAleckSans-BoldItalic.svg') format('svg'); /* Legacy iOS */
	}

@font-face {
    font-family:AleckL;
    src: url('../fonts/ATTAleckSans-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/ATTAleckSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ATTAleckSans-Light.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ATTAleckSans-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ATTAleckSans-Light.svg') format('svg'); /* Legacy iOS */
	}

@font-face {
    font-family:AleckLI;
    src: url('../fonts/ATTAleckSans-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/ATTAleckSans-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ATTAleckSans-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ATTAleckSans-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ATTAleckSans-LightItalic.svg') format('svg'); /* Legacy iOS */
	}
	
/*Omnes Font*/

@font-face {
    font-family:OmnesB;
    src: url('../fonts/omnes_att_ii-bold-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/omnes_att_ii-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/omnes_att_ii-bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/omnes_att_ii-bold-webfont.svg') format('svg'); /* Legacy iOS */
	}

@font-face {
    font-family:OmnesI;
    src: url('../fonts/omnes_att_ii-italic-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/omnes_att_ii-italic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/omnes_att_ii-italic-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/omnes_att_ii-italic-webfont.svg') format('svg'); /* Legacy iOS */
	}

@font-face {
    font-family:OmnesM;
    src: url('../fonts/omnes_att_ii_medium-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/omnes_att_ii_medium-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/omnes_att_ii_medium-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/omnes_att_ii_medium-webfont.svg') format('svg'); /* Legacy iOS */
	}
	
@font-face {
    font-family:OmnesMI;
    src: url('../fonts/omnes_att_ii_medium-italic-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/omnes_att_ii_medium-italic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/omnes_att_ii_medium-italic-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/omnes_att_ii_medium-italic-webfont.svg') format('svg'); /* Legacy iOS */
	}

@font-face {
    font-family:OmnesBI;
    src: url('../fonts/omnes_att_ii-bolditalic-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/omnes_att_ii-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/omnes_att_ii-bolditalic-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/omnes_att_ii-bolditalic-webfont.svg') format('svg'); /* Legacy iOS */
	}

@font-face {
    font-family:OmnesL;
    src: url('../fonts/omnes_att_ii_light-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/omnes_att_ii_light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/omnes_att_ii_light-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/omnes_att_ii_light-webfont.svg') format('svg'); /* Legacy iOS */
	}

@font-face {
    font-family:OmnesLI;
    src: url('../fonts/omnes_att_ii_light-italic-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/omnes_att_ii_light-italic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/omnes_att_ii_light-italic-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/omnes_att_ii_light-italic-webfont.svg') format('svg'); /* Legacy iOS */
	}