/*676d37363568*/
/*border:solid 1px;*/

a:link		{text-decoration:underline; color:#067ab4;}
a:visited 	{text-decoration:underline; color:#067ab4;}
a:hover 		{text-decoration:none; color:#ef6f00;}
a:active 	{text-decoration:underline; color:#067ab4;}
.home:hover 	{font-weight:bold; text-decoration:none; color:#ef6f00;}
.miscpages:hover 	{font-weight:bold; text-decoration:none; color:#ef6f00;}

.topnav	{
	width:100%;
	height:60px;
	vertical-align:middle;
	display: table-cell;
	/*border:solid 1px;*/
	}
	
body {
	font-family:calibri;
	font-size:15px;
	}
	
.PageCenter	{
	margin:auto;
	max-width:1150px;
	}
		
.cspheader	{
	width:100%;
	height:55px;
	/*border:solid 1px;*/
	}
	
.cspheadtitle	{
	float:left;
	height:30px;
	padding:0px;
	position: relative;
	top: 5px;
	/*border:solid 1px;*/
	}
	
.cspheadtitle h6	{
	font-family: OmnesM;
	color: #ef6f00;
	font-size:19px;
	text-decoration:none;
	vertical-align:center;
	display:table-cell;
	}
	
.cspheaddate	{
	float:right;
	height:30px;
	padding:0px 50px 0px 0px;
	position: relative;
	top: 5px;
	/*border:solid 1px;*/
	}
	
.cspheaddate h6	{
	font-family: calibri;
	color: #ef6f00;
	font-weight:bold;
	font-size:19px;
	text-decoration:none;
	text-align:center;
	display:table-cell;
	}
		
.csptitleblock	{
	width:100%;
	height:16px;
	}
	
.csptitle	{
	float:left;
	padding-left:20px;
	}
	
.cspmessage	{
	padding:0px 20px 0px 20px;
	}
	
.cspdate	{
	float:right;
	padding-right:70px;
	}
	
.mycsp .csptitleblock .csptitle span	{
	text-decoration:none;
	font-size:15px;
	font-weight:bold;
	color:#067ab4;
	font-family:OmnesL;
	}
	
.mycsp .csptitleblock .cspdate span	{
	text-decoration:none;
	font-size:15px;
	font-weight:bold;
	color:#ef6f00;
	font-family:OmnesL;
	}	
		
.feedback	{
	height:40px;
	width:220px;
	text-align:center;
	float:right;
	height:40px;
	position: absolute;
	right:50px; top:25px;
	margin:auto;
	/*border:solid 1px blue;*/
	}

.fbtext	{
	float:left;
	display:table;
	height:38px;
	overflow:hidden;
	/*border:solid 1px pink;*/
	}
		
.feedback .fbtext p	{
	color: red;
	font-size:18px;
	font-family:OmnesL;
	font-weight:bold;
	text-align:right;
	display:table-cell;
	vertical-align:middle;
	/*border:solid 1px orange;*/
	}
	
.fbimg	{
	float:right;
	height:40px;
	display:inline-block;
	}
	
.feedback .fbimg img	{
	padding:3px;
	border:none;
	}
		
.leftnav	{
	width:15%;
	float:left;
	padding-left:5px;
	margin:0;
	/*border:solid 1px red;*/
	}
		
.bottnav	{
	width:84%;
	clear:both;
	margin:auto;
	float:right;
	text-align:center;
	padding-bottom:30px;
	/*border:solid 1px;*/
	}
		
.body1	{
	width:84%;
	float:right;
	/*border:solid 1px;*/
	}
		
.images	{
	width:84%;
	float:right;
	/*border:solid 1px;*/
	}
		
.specs	{
	width:84%;
	float:right;
	padding-bottom:10px;
	/*border:solid 1px;*/
	}
	
.tips	{
	width:84%;
	float:right;
	padding-bottom:30px;
	/*border:solid 1px;*/
	}
		
.specs p {
	padding-right: 50px;
	}
	
.tips p {
	padding:0px 90px 0px 90px; /*update .centertips padding if updating this*/
	margin-left:auto;
	margin-right:auto;
	}
	
.quick 	{
	font-family:calibri;
	font-size:15px;
	color: #067ab4;
	font-weight:100;
	}

.mycsp	{
	width:84%;
	float:right;
	padding-bottom:30px;
	/*border:solid 1px;*/
	}

.tech	{
	width:84%;
	float:right;
	padding-bottom:30px;
	/*border:solid 1px;*/
	}
	
.tech p {
	padding: 0px 50px 0px 20px;
	}
	
.mycsp p {
	padding: 0px 55px 0px 20px;
	}
	
.mycsp span {
	padding: 0px;
	}
	
.tab	{
	font-family:calibri;
	font-size:15px;
	text-decoration:none;
	color:black;
	display:block;
	font-weight:100;
	margin:10px 50px 10px 20px;
	}
	
.tab2	{
	font-family:calibri;
	font-size:15px;
	text-decoration:none;
	color:black;
	display:block;
	font-weight:100;
	margin:0px 50px 0px 20px;
	}
	
.side	{
	font-family:calibri;
	font-size:15px;
	padding-left:20px;
	margin:0;
	}
	
.status	{
	font-family:OmnesM;
	font-size:20px;
	text-decoration:none;
	margin:0;
	color:#ef6f00;
	}
		
.backtotop	{
	font-family:calibri;
	font-size:12px;
	float:right;
	padding-right:15px;
	font-weight:100;
	margin:0;
	text-decoration:none
	}
	
.h3		{
	font-family: OmnesM;
	color: #ef6f00;
	font-weight:bold;
	font-size:20px;
	text-decoration:none;
	}
	
tr:hover  td:not(.greencheck):not(.redx) {
    background-color: #dfdfdf;
	}
		
.title	{
	font-family:OmnesL;
	color:#ef6f00;
	font-weight:bold;
	font-size:15px;
		}
		
.home	{
	font-family:calibri;
	color:#067ab4;
	font-weight:bold;
	font-size:16px;
		}
		
#none	{
	list-style-type:none;
		}
		
.titleimg	{
	text-align:center;
	padding-top:10px;
	/*border:solid 1px;*/
	vertical-align:middle;
	display:inline-block;
	}
	
.tipimg	{
	display:block;
    margin:auto;
	}
		
.title2	{
	font-family:OmnesL;
	color: #067ab4;
	font-weight:bold;
	font-size:15px;
	padding-left:10px;
		}
		
.contentBox {
    width: 100%;
	}
	
.contentBox .column {
    float: left;
    width: 32%;
	}
	
.contentBox .column2 {
    float: left;
    width: 48%;
	/*border:solid 1px;*/
	}
	
.miscpages	{
	font-family: calibri;
	color: #067ab4;
	font-weight:bold;
	}
		
.top	{
	font-family: calibri;
	color: #067ab4;
	font-size:15px;
	}
	
.span2 	{
	font-family: calibri;
	color: #067ab4;
	font-size:15px;
	font-weight:100;
	text-decoration:none;
	}

.importantnote 	{
	font-family: calibri;
	color: red;
	font-size:16px;
	font-weight:100;
	text-decoration:none;
	}
	
.spanright 	{
	font-family: calibri;
	color: #067ab4;
	font-size:15px;
	font-weight:100;
	text-decoration:none;
	float:right;
	text-align:right;
	}
	
.span3 	{
	font-family: OmnesL;
	color: red;
	font-size:17px;
	}
	
.red	{
	color:red;
	font-weight:normal;
	font-size:inherit;
	padding:inherit;
	font-family:inherit;
	}
		
h1 	{
	font-family: calibri;
	color: #067ab4;
	font-style: italic;
	font-weight:bold;
	}
	
h2 	{
	font-family: calibri;
	color: #ef6f00;
	font-size:26px;
	font-weight:bold;
	}
	
h3 	{
	font-family: OmnesM;
	color: #ef6f00;
	font-weight:bold;
	font-size:20px;
	text-decoration:none;
	}
	
a 	{
	font-family: calibri;
	color: #067ab4;
	font-size:15px;
	display:inline-flex;
	}
	
h2 a 	{
	font-family: calibri;
	color: #067ab4;
	font-size:15px;
	font-weight:100;
	}

th	{
	font-family: calibri;
	text-align:center;
	background-color:#ef6f00;
	font-size:15px;
	padding:1px 10px 1px 10px;
	}
	
td	{
	font-family: calibri;
	text-align:center;
	color: #067ab4;
	font-weight:normal;
	padding:1px 10px 1px 10px;
	font-size:14px;
	}
	
p 	{
	text-decoration:none;
	color:black;
	}
	
.bottnav p 	{
	font-family:calibri;
	font-size:11px;
	}
	
.body1 span	{
	padding-right:50px;
	}
	
.body1 p span	{
	padding-right:0px;
	}
	
.body1 p 	{
	padding-right:50px;
	}
	
sup 	{
	font-family:calibri;
	text-decoration:none;
	font-size:11px;
	color: inherit;
	margin:0.5em, 0, 0.5em, 0;
	}
	
.sup2 	{
	font-family:calibri;
	text-decoration:none;
	font-size:13px;
	color: red;
	margin:0.5em, 0, 0.5em, 0;
	}
	
div li	{
	font-family:calibri;
	font-size:15px;
	padding-right:50px;
	}
	
span	{
	text-decoration:none;
	font-size:17px;
	font-weight:bold;
	color:#067ab4;
	}
	
.spanred	{
	text-decoration:underline;
	font-size:14px;
	font-weight:bold;
	color:red;
	}
	
table {
	margin-left:10px;
	font-size:14px;
	}
	
table, td, th	{
	border: 1px solid black;
	border-collapse:collapse;
	}
	
div.img	{
	margin:5px;
	padding:5px;
	height:auto;
	width:auto;
	float:left;
	text-align:center;
	display:block;
	}
	
div.img img	{
	margin:5px;
	border:2px solid #067ab4;
	}
  
div.img a:hover img	{
	border:2px solid #ef6f00;
	}
  
div.desc	{
	font-size:16px;
	text-align:center;
	font-weight:normal;
	font-family: calibri;
	text-decoration:none;
	margin:5px;
	font-weight:bold;
	color:#ef6f00;
	}
	
.PageTitle	{
	margin:0em;
	padding: 8px 0px 0px 2px;
	text-shadow: 2px 2px 2px #dfdfdf;
	}
	
.orangePBI	{
	font-size:28px;
	font-family:OmnesBI;
	color:#ef6f00;
	text-decoration:none;
	}
	
.bluePLI	{
	font-size:28px;
	font-family:OmnesLI;
	color:#067ab4;
	text-decoration:none;
	}
	
.grayPBI	{
	font-size:28px;	
	font-family:OmnesBI;
	color:#666666;
	text-decoration:none;
	}
	
.MainTitle	{
	padding:8px 0px 0px 12px;
	margin:0em;
	text-shadow: 3px 3px 3px #dfdfdf;
	}
	
.orangeMBI	{
	font-size:32px;
	font-family:OmnesBI;
	color:#ef6f00;
	text-decoration:none;
	}
	
.blueMLI	{
	font-size:32px;
	font-family:OmnesLI;
	color:#067ab4;
	text-decoration:none;
	}
	
.grayMBI	{
	font-size:32px;
	font-family:OmnesBI;
	color:#666666;
	text-decoration:none;
	}
	
.noborder	{
	background-color:#fff;
	border:0;
	}
	
.noborder th	{
	background-color:#fff;
	border:0;	
	font-size:18px;
	font-family:OmnesL;
	color:#ef6f00;
	text-decoration:none;
	}
	
.noborder td	{
	background-color:#fff;
	border:0;
	padding:8px 50px 8px 50px;
	color:#000;
	}
	
.centertips	{
	padding:0px 90px 0px 90px; /*update .tips p padding if updating this*/
	text-align:center;
	}
	
.grey	{
	background-color:#d3d3d3;
	color:#d3d3d3;
	}
	
.greencheck	{
	background-color:#90EE90;
	color:#006400;
	text-shadow: 1px 1px 1px #5E5E5E;
	}
	
.redx	{
	background-color:#fbbfbf;
	color:#d80000;
	text-shadow: 1px 1px 1px #5E5E5E;
	}

@font-face {
    font-family:OmnesB;
    src: url('../fonts/omnes_att_ii-bold-webfont.eot');
    src: url('../fonts/omnes_att_ii-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes_att_ii-bold-webfont.woff2') format('woff2'),
         url('../fonts/omnes_att_ii-bold-webfont.woff') format('woff'),
         url('../fonts/omnes_att_ii-bold-webfont.ttf') format('truetype'),
         url('../fonts/omnes_att_ii-bold-webfont.svg') format('svg');
	}

@font-face {
    font-family:OmnesI;
    src: url('../fonts/omnes_att_ii-italic-webfont.eot');
    src: url('../fonts/omnes_att_ii-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes_att_ii-italic-webfont.woff2') format('woff2'),
         url('../fonts/omnes_att_ii-italic-webfont.woff') format('woff'),
         url('../fonts/omnes_att_ii-italic-webfont.ttf') format('truetype'),
         url('../fonts/omnes_att_ii-italic-webfont.svg') format('svg');
	}

@font-face {
    font-family:OmnesM;
    src: url('../fonts/omnes_att_ii_medium-webfont.eot');
    src: url('../fonts/omnes_att_ii_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes_att_ii_medium-webfont.woff2') format('woff2'),
         url('../fonts/omnes_att_ii_medium-webfont.woff') format('woff'),
         url('../fonts/omnes_att_ii_medium-webfont.ttf') format('truetype'),
         url('../fonts/omnes_att_ii_medium-webfont.svg') format('svg');
	}
	
@font-face {
    font-family:OmnesMI;
    src: url('../fonts/omnes_att_ii_medium-italic-webfont.eot');
    src: url('../fonts/omnes_att_ii_medium-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes_att_ii_medium-italic-webfont.woff2') format('woff2'),
         url('../fonts/omnes_att_ii_medium-italic-webfont.woff') format('woff'),
         url('../fonts/omnes_att_ii_medium-italic-webfont.ttf') format('truetype'),
         url('../fonts/omnes_att_ii_medium-italic-webfont.svg') format('svg');
	}

@font-face {
    font-family:OmnesBI;
    src: url('../fonts/omnes_att_ii-bolditalic-webfont.eot');
    src: url('../fonts/omnes_att_ii-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes_att_ii-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/omnes_att_ii-bolditalic-webfont.woff') format('woff'),
         url('../fonts/omnes_att_ii-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/omnes_att_ii-bolditalic-webfont.svg') format('svg');
	}

@font-face {
    font-family:OmnesL;
    src: url('../fonts/omnes_att_ii_light-webfont.eot');
    src: url('../fonts/omnes_att_ii_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes_att_ii_light-webfont.woff2') format('woff2'),
         url('../fonts/omnes_att_ii_light-webfont.woff') format('woff'),
         url('../fonts/omnes_att_ii_light-webfont.ttf') format('truetype'),
         url('../fonts/omnes_att_ii_light-webfont.svg') format('svg');
	}

@font-face {
    font-family:OmnesLI;
    src: url('../fonts/omnes_att_ii_light-italic-webfont.eot');
    src: url('../fonts/omnes_att_ii_light-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/omnes_att_ii_light-italic-webfont.woff2') format('woff2'),
         url('../fonts/omnes_att_ii_light-italic-webfont.woff') format('woff'),
         url('../fonts/omnes_att_ii_light-italic-webfont.ttf') format('truetype'),
         url('../fonts/omnes_att_ii_light-italic-webfont.svg') format('svg');
	}